
body{
    background-color: black;
}
.container{
    
}

.container > div{
    margin: 1em;
}


textarea{
    display: block;
    width: 100%;
}

.leaf{
    width: 595px;
/*    width: 77.5em;*/
    /* 21 cm = 595px(72dpi) | 1240px= 77.5em (^16)*/
    height:  842px;
/*    height: 109.625‬em;*/
    /* 29.7cm = 842px(72dpi) | 1754px  = 109.625‬em (^16)*/
    background-color: white;
    padding: 1em;
    float: left;
}

.leaf > div {
    margin: 1em 0;
}

.panel {
    float: left;
    width: 350px;
    height: 250px;
    background: #4e4b4a;
    padding: 1em;
}


.active-label{
    border: 1px solid blue;
}

